{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static  './style.css'  %}">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500" rel="stylesheet">

    <title>Bubble - The new Social Network!</title>
</head>
<body>

    <div class="instructions">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="{%  static  './logo.jpg'  %}" alt="" width="120" height="120">
            <h1 class="display-5 fw-bold">Bubble</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Pop your social life!</p>
              
            </div>
          </div>
    </div>

    <div class="buttons">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3 btnSignUp" onclick='goToRegister()'>Sign Up</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4 btnSignIn" onclick='goToLogin()'>Sign In</button>
            
          </div>
    </div>

    <canvas></canvas>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="{%  static  './script.js'  %}"></script>
   
</body>
</html>

